
    <h3>Update Menu</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class = "form-group">
            <div class="row">
                <div class="column">
                    <h6>Monday</h6>
                    <input type="checkbox" id="hideMonday" 
                    [(ngModel)] = "menu.mondayHide" name="hideMonday">
                    <label for="hideMonday">Hide Section</label>
                    <br><hr>
                    <h6>Tuesday</h6>
                    <br><hr>
                    <h6>Wednesday</h6>
                    <br><hr>
                    <h6>Thursday</h6>
                    <br><hr>
                    <h6>Friday</h6>
                    <br><hr>
                    <h6>Saturday</h6>
                    <br><hr>
                    <h6>Sunday</h6>

                </div>
                <div class="column">
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="mondayLunch" style="width:150px" 
                    [(ngModel)] = "menu.mondayLunch" name = "mondayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="mondayDinner" style="width:150px" 
                    [(ngModel)] = "menu.mondayDinner" name = "mondayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="tuesdayLunch" style="width:150px"
                    [(ngModel)] = "menu.tuesdayLunch" name = "tuesdayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="tuesdayDinner" style="width:150px"
                    [(ngModel)] = "menu.tuesdayDinner" name = "tuesdayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="wednesdayLunch" style="width:150px"
                    [(ngModel)] = "menu.wednesdayLunch" name = "wednesdayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="wednesdayDinner" style="width:150px"
                    [(ngModel)] = "menu.wednesdayDinner" name = "wednesdayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="thursdayLunch" style="width:150px"
                    [(ngModel)] = "menu.thursdayLunch" name = "thursdayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="thursdayDinner" style="width:150px"
                    [(ngModel)] = "menu.thursdayDinner" name = "thursdayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="fridayLunch" style="width:150px"
                    [(ngModel)] = "menu.fridayLunch" name = "fridayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="fridayDinner" style="width:150px"
                    [(ngModel)] = "menu.fridayDinner" name = "fridayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="saturdayLunch" style="width:150px"
                    [(ngModel)] = "menu.saturdayLunch" name = "saturdayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="saturdayDinner" style="width:150px"
                    [(ngModel)] = "menu.saturdayDinner" name = "saturdayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Lunch: &nbsp;&nbsp;</label>
                    <select id="sundayLunch" style="width:150px"
                    [(ngModel)] = "menu.sundayLunch" name = "sundayLunch">
                        @for (lunch of lunches; track lunch.id){
                            <option>{{ lunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Dinner: &nbsp;</label>
                    <select id="sundayDinner" style="width:150px"
                    [(ngModel)] = "menu.sundayDinner" name = "sundayDinner">
                        @for (dinner of dinners; track dinner.id){
                            <option>{{ dinner.name }}</option>
                        }
                    </select>
                </div>
                <div class="column">
                    <label>Side: &nbsp;</label>
                    <select id="mondaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.mondaySideLunch" name = "mondaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="mondaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.mondaySideDinner" name = "mondaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Side: &nbsp;</label>
                    <select id="tuesdaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.tuesdaySideLunch" name = "tuesdaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="tuesdaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.tuesdaySideDinner" name = "tuesdaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Side: &nbsp;</label>
                    <select id="wednesdaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.wednesdaySideLunch" name = "wednesdaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="wednesdaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.wednesdaySideDinner" name = "wednesdaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Side: &nbsp;</label>
                    <select id="thursdaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.thursdaySideLunch" name = "thursdaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="thursdaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.thursdaySideDinner" name = "thursdaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Side: &nbsp;</label>
                    <select id="fridaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.fridaySideLunch" name = "fridaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="fridaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.fridaySideDinner" name = "fridaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Side: &nbsp;</label>
                    <select id="saturdaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.saturdaySideLunch" name = "saturdaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="saturdaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.saturdaySideDinner" name = "saturdaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br><hr>
                    <label>Side: &nbsp;</label>
                    <select id="sundaySideLunch" style="width:150px"
                    [(ngModel)] = "menu.sundaySideLunch" name = "sundaySideLunch">
                    <option value = "">None</option>
                        @for (sideLunch of sideLunches; track sideLunch.id){
                            <option>{{ sideLunch.name }}</option>
                        }
                    </select>
                    <br>
                    <label>Side: &nbsp;</label>
                    <select id="sundaySideDinner" style="width:150px"
                    [(ngModel)] = "menu.sundaySideDinner" name = "sundaySideDinner">
                    <option value = "">None</option>
                        @for (sideDinner of sideDinners; track sideDinner.id){
                            <option>{{ sideDinner.name }}</option>
                        }
                    </select>
                    <br>
                    
                </div>
                <div class="column">
                    <label>Rice: &nbsp;</label>
                    <select id="mondayLunchRice" 
                    [(ngModel)] = "menu.mondayLunchRice" name = "mondayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="mondayDinnerRice" 
                    [(ngModel)] = "menu.mondayDinnerRice" name = "mondayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br><hr>
                    <label>Rice: &nbsp;</label>
                    <select id="tuesdayLunchRice" 
                    [(ngModel)] = "menu.tuesdayLunchRice" name = "tuesdayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="tuesdayDinnerRice" 
                    [(ngModel)] = "menu.tuesdayDinnerRice" name = "tuesdayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br><hr>
                    <label>Rice: &nbsp;</label>
                    <select id="wednesdayLunchRice" 
                    [(ngModel)] = "menu.wednesdayLunchRice" name = "wednesdayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="wednesdayDinnerRice" 
                    [(ngModel)] = "menu.wednesdayDinnerRice" name = "wednesdayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br><hr>
                    <label>Rice: &nbsp;</label>
                    <select id="thursdayLunchRice" 
                    [(ngModel)] = "menu.thursdayLunchRice" name = "thursdayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="thursdayDinnerRice" 
                    [(ngModel)] = "menu.thursdayDinnerRice" name = "thursdayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br><hr>
                    <label>Rice: &nbsp;</label>
                    <select id="fridayLunchRice" 
                    [(ngModel)] = "menu.fridayLunchRice" name = "fridayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="fridayDinnerRice" 
                    [(ngModel)] = "menu.fridayDinnerRice" name = "fridayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br><hr>
                    <label>Rice: &nbsp;</label>
                    <select id="saturdayLunchRice" 
                    [(ngModel)] = "menu.saturdayLunchRice" name = "saturdayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="saturdayDinnerRice" 
                    [(ngModel)] = "menu.saturdayDinnerRice" name = "saturdayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br><hr>
                    <label>Rice: &nbsp;</label>
                    <select id="sundayLunchRice" 
                    [(ngModel)] = "menu.sundayLunchRice" name = "sundayLunchRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                    <br>
                    <label>Rice: &nbsp;</label>
                    <select id="sundayDinnerRice" 
                    [(ngModel)] = "menu.sundayDinnerRice" name = "sundayDinnerRice">
                    @for (rice of rices; track rice.id){
                        <option>{{ rice.name }}</option>
                    }
                    <option value = "">None</option>
                    </select>
                </div>
                <div class="column">
                    <label>Other: &nbsp;</label><input type="text" id = "mLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.mondayLunchOther" name = "mLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "mDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.mondayDinnerOther" name = "mDOther"><br>
                    <hr>
                    <label>Other: &nbsp;</label><input type="text" id = "tLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.tuesdayLunchOther" name = "tLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "tDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.tuesdayDinnerOther" name = "tDOther"><br>
                    <hr>
                    <label>Other: &nbsp;</label><input type="text" id = "wLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.wednesdayLunchOther" name = "wLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "wDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.wednesdayDinnerOther" name = "wDOther"><br>
                    <hr>
                    <label>Other: &nbsp;</label><input type="text" id = "thLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.thursdayLunchOther" name = "thLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "thDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.thursdayDinnerOther" name = "thDOther"><br>
                    <hr>
                    <label>Other: &nbsp;</label><input type="text" id = "fLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.fridayLunchOther" name = "fLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "fDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.fridayDinnerOther" name = "fDOther"><br>
                    <hr>
                    <label>Other: &nbsp;</label><input type="text" id = "sLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.saturdayLunchOther" name = "sLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "sDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.saturdayDinnerOther" name = "sDOther"><br>
                    <hr>
                    <label>Other: &nbsp;</label><input type="text" id = "suLOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.sundayLunchOther" name = "suLOther"><br>
                    <label>Other: &nbsp;</label><input type="text" id = "suDOther" value="None" style="width:150px;height: 25px"
                    [(ngModel)] = "menu.sundayDinnerOther" name = "suDOther"><br>
                    <hr>
                </div>
            </div>
        </div>
        <br>
        <button class = "btn btn-success" type = "submit">Update Menu</button>
        <button class = "btn btn-danger" type = "reset">Clear Menu</button>
    </form>
