h6{
    font-family: 'Cocogoose', sans-serif;
    color: green;
    font-size: 20;
    font-weight: bold;
}

h3{
    font-family: 'Fabiana', sans-serif;
    color: green;
    font-size: 20;
    font-weight: bold;
}