<table class = "table table-bordered">
    <tbody>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>MONDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.mondayLunch }} 
                    @if (menu.mondaySideLunch != ""){
                        <br> {{ menu.mondaySideLunch }}
                    }
                    @if (menu.mondayLunchRice != ""){
                        <br> {{ menu.mondayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.mondayDinner }} 
                    @if (menu.mondaySideDinner != ""){
                        <br> {{ menu.mondaySideDinner }}
                    }
                    @if (menu.mondayDinnerRice != ""){
                        <br> {{ menu.mondayDinnerRice }}
                    }
                </td>
            </tr>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>TUESDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.tuesdayLunch }}
                    @if (menu.tuesdaySideLunch != ""){
                        <br> {{ menu.tuesdaySideLunch }}
                    }
                    @if (menu.tuesdayLunchRice != ""){
                        <br> {{ menu.tuesdayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.tuesdayDinner }}
                    @if (menu.tuesdaySideDinner != ""){
                        <br> {{ menu.tuesdaySideDinner }}
                    }
                    @if (menu.tuesdayDinnerRice != ""){
                        <br> {{ menu.tuesdayDinnerRice }}
                    }
                </td>
            </tr>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>WEDNESDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.wednesdayLunch }}
                    @if (menu.wednesdaySideLunch != ""){
                        <br> {{ menu.wednesdaySideLunch }}
                    }
                    @if (menu.wednesdayLunchRice != ""){
                        <br> {{ menu.wednesdayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.wednesdayDinner }}
                    @if (menu.wednesdaySideDinner != ""){
                        <br> {{ menu.wednesdaySideDinner }}
                    }
                    @if (menu.wednesdayDinnerRice != ""){
                        <br> {{ menu.wednesdayDinnerRice }}
                    }
                </td>
            </tr>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>THURSDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.thursdayLunch }}
                    @if (menu.thursdaySideLunch != ""){
                        <br> {{ menu.thursdaySideLunch }}
                    }
                    @if (menu.thursdayLunchRice != ""){
                        <br> {{ menu.thursdayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.thursdayDinner }}
                    @if (menu.thursdaySideDinner != ""){
                        <br> {{ menu.thursdaySideDinner }}
                    }
                    @if (menu.thursdayDinnerRice != ""){
                        <br> {{ menu.thursdayDinnerRice }}
                    }
                </td>
            </tr>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>FRIDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.fridayLunch }}
                    @if (menu.fridaySideLunch != ""){
                        <br> {{ menu.fridaySideLunch }}
                    }
                    @if (menu.fridayLunchRice != ""){
                        <br> {{ menu.fridayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.fridayDinner }}
                    @if (menu.fridaySideDinner != ""){
                        <br> {{ menu.fridaySideDinner }}
                    }
                    @if (menu.fridayDinnerRice != ""){
                        <br> {{ menu.fridayDinnerRice }}
                    }
                </td>
            </tr>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>SATURDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.saturdayLunch }}
                    @if (menu.saturdaySideLunch != ""){
                        <br> {{ menu.saturdaySideLunch }}
                    }
                    @if (menu.saturdayLunchRice != ""){
                        <br> {{ menu.saturdayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.saturdayDinner }}
                    @if (menu.saturdaySideDinner != ""){
                        <br> {{ menu.saturdaySideDinner }}
                    }
                    @if (menu.saturdayDinnerRice != ""){
                        <br> {{ menu.saturdayDinnerRice }}
                    }
                </td>
            </tr>
            <tr>
                <td class="reservation_fontcolor" width="50%"><h3>SUNDAY</h3></td>
                <td class="reservation_fontcolor"><h4>Lunch</h4> {{ menu.sundayLunch }}
                    @if (menu.sundaySideLunch != ""){
                        <br> {{ menu.sundaySideLunch }}
                    }
                    @if (menu.sundayLunchRice != ""){
                        <br> {{ menu.sundayLunchRice }}
                    }
                    <br> <h4>Dinner</h4> {{ menu.sundayDinner }}
                    @if (menu.sundaySideDinner != ""){
                        <br> {{ menu.sundaySideDinner }}
                    }
                    @if (menu.sundayDinnerRice != ""){
                        <br> {{ menu.sundayDinnerRice }}
                    }
                </td>
            </tr>
    </tbody>
</table>
